body {
    background-color: #eee;
    color: #333;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

img {
    max-width: 100%;
}

#navbar {
    background-color:#000;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    text-align: center;
}

#navbar li a:hover {
    background-color: #EEFF00;
    color: black;
}

.myicon {
    color: rgb(252, 2, 2);
    font-size: 1.5em;
    padding: 10px;
    float: right;
}

#wrapper {
    max-width: 1180px;
    position: relative;
    top: 60px;
    margin: 0 auto;
}

#wrapper header {
    height: 120px;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 1em;
}

#main {
    float: left;
    padding: 5px;
    width: 38%;
}

#second {
    float: left;
    padding: 5px;
    width: 38%;
}

#wrapper aside {
    float: left;
    padding: 5px;
    width: 20%;
}

#wrapper footer {
    clear: both;
    width: 100%;
    padding: 5px;
    background-color: #ddd;
    text-align: center;
}